@page "/dashboard/class-registration";
@using StudentPortal.Components.Shared.Models
@* @inject StudentPortal.Components.Shared.Services.StudentSchedule schedule;  *@
@* @inject StudentPortal.Components.Shared.Services.Class studentClass; *@
@rendermode InteractiveServer
@inject AppDbContext _context
@inject StudentPortal.Components.Shared.Services.StudentAccount studentAccount;
@inject NavigationManager Navigation

<h1>Class Registration</h1>

<h3>Available Classes</h3>

@if (unenrolledClasses.Count == 0)
{
    <p>Loading...</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Credits</th>
                <th>Action</th>
            </tr>
        </thead>
        <!-- unenrolled classes -->
        <tbody>
            @foreach (var c in unenrolledClasses)
            {
                <tr>
                    <td>@c.Code</td>
                    <td>@c.Name</td>
                    <td>@c.Credits</td>
                    <td>
                        <button class="btn btn-success" @onclick="() => Register(c)">
                            Register
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<hr />

<h3>My Registered Classes</h3>

@if (enrolledClasses.Count == 0)
{
    <p>No classes registered.</p>
}
else
{
    <!-- enrolled classes -->
    <table class="table">
        <thead>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Credits</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var c in enrolledClasses)
            {
                <tr>
                    <td>@c.Code</td>
                    <td>@c.Name</td>
                    <td>@c.Credits</td>
                    <td>
                        <button class="btn btn-danger" @onclick="() => Drop(c.Id)">
                            Drop
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<p style="color: green">@message</p>

@code {
    //init class lists
    private List<Class> unenrolledClasses = new();
    private List<Class> enrolledClasses = new();

    protected override void OnInitialized()
    {

        //if not logged in -> go to login
        if (!studentAccount.IsLoggedIn()) {
            Navigation.NavigateTo("/login");
            return;
        }

        //load classes
        try {
            unenrolledClasses = _context.GetClassesNotEnrolled(studentAccount.studentProfile.Id);
            enrolledClasses = _context.GetClassesEnrolled(studentAccount.studentProfile.Id);
        }
        catch (Exception ex) {
            message = "An error occured when retrieving available classes. Please try again later or contact your adiminstrator for assistance.";
            Console.WriteLine($"There was a problem retrieving unenrolled and enrolled classes from the database: {ex}");
        }
    }

    private string message = (""); 

    void Register(Class c)
    {

        try {
            _context.RegisterClass(studentAccount.studentProfile.Id, c.Id);

            //sync with db
            unenrolledClasses = _context.GetClassesNotEnrolled(studentAccount.studentProfile.Id);
            enrolledClasses = _context.GetClassesEnrolled(studentAccount.studentProfile.Id);
        }
        catch (Exception ex) {
            message = "There was an issue adding your class. Please try again later";
            Console.WriteLine($"Registrtation Error: {ex}");
        }
        
    }

    void Drop(int id)
    {
        //immediate update
        enrolledClasses = enrolledClasses.Where(c => c.Id != id).ToList();

        try {
            _context.UnRegisterClass(studentAccount.studentProfile.Id, id);

            //sync with db
            unenrolledClasses = _context.GetClassesNotEnrolled(studentAccount.studentProfile.Id);
            enrolledClasses = _context.GetClassesEnrolled(studentAccount.studentProfile.Id);
        }
        catch (Exception ex) {
            message = "There was an issue dropping your class. Please try again later";
            Console.WriteLine($"Unregister Class Error: {ex}");
        }
    }
}