@page "/dashboard/schedule"
@using StudentPortal.Components.Shared.Models
@using StudentPortal.Components.Shared.Services
@* @inject StudentSchedule schedule *@
@inject NavigationManager Navigation
@inject StudentPortal.Components.Shared.Services.StudentAccount studentAccount;
@inject AppDbContext _context


<h1>My Schedule</h1>

@if (classes.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Class Time</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Class c in classes)
            {
                <tr>

<!--                <td>@item.Code</td>
                    <td>@item.Name</td>
                    <td>@item.Credits</td> -->

                    <td>@c.Name</td>
                    <td>
                        <p>
                            @string.Join(", ", c.ClassSchedule.Select(s =>
                            $"{s.Key.ToString().Substring(0,3)} {s.Value.ToString("h:mm tt").ToLower()}"))
                        </p>
                    </td>
                    <td><button class="more-info-button" @onclick="() => DisplayClassInfo(c)">More Info</button></td>
                    

                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>You are not registered for any classes. You can register <a href="/dashboard/class-registration">here</a>.</p>
}

<ClassDetailsDialog StudentClass="currentClass" DialogOn="showDialog" OnExit="CloseDialog"  />



@code {
    private bool showDialog = false;
    private Class currentClass;

    private List<Class> classes = new();

    protected override void OnInitialized()
    {
        if (!studentAccount.IsLoggedIn()) {
            Navigation.NavigateTo("/login");
        }
        classes = _context.GetClassesEnrolled(studentAccount.studentProfile.Id);
    }
    private void DisplayClassInfo(Class chosenClass) 
    {
        currentClass = chosenClass;
        showDialog = true;
    }

    private void CloseDialog() 
    {
        showDialog = false;
    }
}