@page "/dashboard/profile";
@inject StudentPortal.Components.Shared.Services.StudentAccount studentAccount;
@inject NavigationManager Navigation

<div class="account-container">
    <div class="page-container">
        @* Profile Picture *@
        <div class="student-info-container">
            <div>
                <ProfilePic width=200/>
            </div>
        @* Student Information *@
            <div>
                <p>
                    <span class=".span-strong">Student Name: </span>
                    @studentAccount.studentProfile?.FirstName @studentAccount.studentProfile?.LastName
                </p>

                <p><span class=".span-strong">Email: </span>@studentAccount.studentProfile?.Email</p>

                <p><span class=".span-strong">Phone: </span>@studentAccount.studentProfile?.Phone</p>

                <p><span class=".span-strong">Bio: </span>@studentAccount.studentProfile?.Bio</p>
            </div>
        </div>
        <div class="buttons">
        @* Edit My Profile Link *@
            <div class="profile-button-container">
                <p></p>
                <p></p>
                <a href="/dashboard/profile/edit">Edit Profile</a>
            </div>
            <div class="logout-button">
                <a href="/logout">Logout</a>
            </div>
        </div>
    </div>

    <div class="page-container"> 
        <h2>Enrolled Program: </h2>
        <p>Enrollment Date: </p>
    </div>
    
</div>

@code {
    protected override void OnInitialized()
    {
        if (!studentAccount.IsLoggedIn()) {
            Navigation.NavigateTo("/login");
        }
    }
}